body{
    background-color:cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
table{
    border-collapse: collapse;
}
thead th{
    background-color: aquamarine;
}


